
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agenda</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Minha Agenda</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Agenda/Index">Página inicial <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gerenciar Compromissos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Agenda/CadastroCompromisso">Cadastrar Compromissos</a>
                        <a class="dropdown-item" href="/Agenda/ConsultaCompromisso">Consultar Compromissos</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">

        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                <strong>@TempData["MensagemSucesso"]</strong>
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if(TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                <strong>@TempData["MensagemErro"]</strong>
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }


        <div class="row">
            <div class="col-md-6">
                <h5>Sistema de controle de agenda</h5>
            </div>
            <div class="col-md-6 text-right">
                Usuário autenticado: <strong>@User.Identity.Name</strong> | <a href="/Account/Logout">Sair do sistema</a>
            </div>
        </div>          
        
        @RenderBody()
        
    </div>

    <script src="~/js/jquery-3.7.0.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

    @RenderSection("scripts", required : false)



</body>
</html>
